__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.eggs
.egg-info
dist
build
.DS_Store
.git
.github
.vscode
.pytest_cache
.coverage
htmlcov
*.db
*.sqlite3
test.db
*.log
Dockerfile.dev
docker-compose.override.yml
