<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Marshal Core Of Nigerial Application Submitted</title>
</head>
<body>
  <h2>Hello {{ name }},</h2>
  <p>Thank you for submitting your application to Marshal Core of Nigeria.</p>
  <p>Your next step is to print and complete the guarantor form, then return it to the nearest Marshal Core office.</p>
  <p>
    <a href="http://127.0.0.1:8000/download/pdf/guarantor_form.pdf">Click here to download the Guarantor Form (PDF)</a>
  </p>
  <p>Best regards,<br>Marshal Core Of Nigerial Limited <br> Recruitment Team</p>
</body>
</html>
